@model ContactModel; 

@{
    ViewData["Title"] = "Create contact";
}

<h1>Create contact</h1>
@using (Html.BeginForm("CreateContact", "Contact", FormMethod.Post))
{
    @Html.LabelFor(model => model.FirstName);
    @Html.TextBoxFor(model => model.FirstName, new { @required = true })
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @required = true })
    @Html.LabelFor(model => model.CompanyName)
    @Html.TextBoxFor(model => model.CompanyName)
    @Html.LabelFor(model => model.MobileNumber)
    @Html.TextBoxFor(model => model.MobileNumber)
    @Html.LabelFor(model => model.EmailAddress)
    @Html.TextBoxFor(model => model.EmailAddress)

    <input type="submit" />
}